body, html {
  margin: 0;
  padding: 0;
  height: 100vh; 
  width: 100vw; 
  background-color: white; 
  transition: background-color 190s; 
  display: flex; 
  justify-content: center; 
  align-items: center; 
}

.eclipse-container {
  overflow: hidden;
}


.blackskyline {
  max-width: 600px;
  max-height: 600px;
  margin-top: -20px;
  margin-left: 200px;

}


/*
.moon {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: left 190s ease-in-out;
}
*/


  
