body, html {
    margin: 0;
    padding: 0;
    height: 100vh; 
    width: 100vw; 
    background-color: white; 
    transition: background-color 0.5s; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
  }
  
  .container {
    position: relative; /* Needed for absolute positioning of the eclipse */
    overflow: hidden; /* This hides overflowing parts of the circular image */
  }
  
  .skyline {
    /* Adjust width and height based on your image size (assuming circular) */
    width: 500px;
    height: 500px;
    object-fit: cover; /* Scales the image to cover the container while maintaining aspect ratio */
  }
  
  .eclipse {
    position: absolute; 
    top: 50%; 
    left: 100%; 
    width: 500px; 
    height: 500px; 
    border-radius: 50%; 
    background-color: black; 
  }
  
  
  .eclipse-title {
    font-size: 3em; 
    color: #ffb81c; 
    margin-top: 0;
    cursor: pointer;
  }
  
  
